/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.flag-list {
    @include outer-container;

    margin-left: 0;
    list-style: none;

    > div > div {
        @include span-columns(4);

        margin-bottom: $spacing-unit / 3;
    }
}

.lang-list {
    @include outer-container;

    hr {
        margin: 5px 0px;
    }

    h4 {
        display: inline;
    }

    span {
        cursor: pointer;
    }
}

/**
 * Helpers
 */
.hidden {
    display: none;
    visibility: hidden;
}
